<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.dao.StudentMapper">

    <!--子查询的方式查关联表-->
    <select id="getStudent" resultMap="StudentTeacher">
        select * from student
    </select>

    <resultMap id="StudentTeacher" type="com.xl.pojo.Student">
        <association property="teacher" column="tid" javaType="com.xl.pojo.Teacher" select="getTeacher"></association>
    </resultMap>

    <select id="getTeacher" resultType="com.xl.pojo.Teacher">
        select * from teacher where id = #{id}
    </select>


    <select id="getStudentJoin" resultMap="StudentTeacherJoin">
        select s.id sid,s.name sname,t.name tname ,t.id tid from student s,teacher t where s.tid = t.id
    </select>

    <resultMap id="StudentTeacherJoin" type="com.xl.pojo.Student">
        <result property="id" column="sid"></result>
        <result property="name" column="sname"></result>
        <association property="teacher" column="tid" javaType="com.xl.pojo.Teacher" >
            <result property="id" column="tid"></result>
            <result property="name" column="tname"></result>
        </association>
    </resultMap>
</mapper>