<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.dao.UserDao">
    <!--使用二级缓存-->
    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"></cache>
    <select id="getUserList" resultType="com.xl.pojo.User">
        select * from mybatis.user
    </select>

    <select id="getUserById" parameterType="int" resultType="com.xl.pojo.User">
        select * from mybatis.user where id = #{id}
    </select>

    <insert id="addUser" parameterType="com.xl.pojo.User">
        insert into mybatis.user (id,name,pwd) values (#{id},#{name},#{pwd});
    </insert>

    <update id="updateUser" parameterType="com.xl.pojo.User">
        update mybatis.user  set name = #{name} , pwd = #{pwd} where id = #{id} ;
    </update>

    <update id="deleteUser" parameterType="int">
        delete from  mybatis.user   where id = #{id} ;
    </update>




    <select id="getUserByMap" parameterType="map" resultType="com.xl.pojo.User">
        select * from mybatis.user where name = #{username}
    </select>

    <insert id="addUserByMap" parameterType="map">
        insert into mybatis.user (id,name,pwd) values (#{userid},#{username},"333");
    </insert>


    <select id="getUserByMapLike" parameterType="map" resultType="com.xl.pojo.User">
        select * from mybatis.user where name like  "%"#{username}"%"
    </select>


    <resultMap id="UserMap" type="com.xl.pojo.UserExtra">
        <result column="name" property="username"></result>
    </resultMap>

    <select id="getUserByIdExtra" parameterType="int" resultType="com.xl.pojo.UserExtra" resultMap="UserMap">
        select * from mybatis.user where id = #{id}
    </select>

    <select id="getUserByMapLimit" parameterType="map" resultType="com.xl.pojo.User">
        select * from mybatis.user limit #{startIndex},#{pageSize}
    </select>

    <select id="getUserByMapRowBounds"  resultType="com.xl.pojo.User">
        select * from mybatis.user
    </select>



</mapper>